body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
  }
  
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not visible outside */
    white-space: nowrap; /* Keeps the text on one line */
    margin: 0 auto; /* Centers the text */
    width: 0; /* Initially hides the text */
  }
  
  #text1 {
    animation: typing1 7s steps(40, end), blink-caret1 4.75s steps(40, end) infinite;
  }
  
  #text2 {
    visibility: hidden; /* Initially hide the second text */
    animation: typing2 3.5s steps(40, end) 7s forwards, blink-caret2 3.5s steps(40, end) 10.5s infinite;
  }
  
  @keyframes typing1 {
    0%, 100% { width: 0; }
    50% { width: 100%; }
  }
  
  @keyframes typing2 {
    0%, 100% { width: 0; visibility: visible; }
    100% { width: 100%; }
  }
  
  @keyframes blink-caret1 {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
    /* 100% { border-color: #e0e0e0; } */
  }
  
  @keyframes blink-caret2 {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
    /* 100% { border-color: #e0e0e0; } */
  }
  